<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luhuiling.graduation.dao.RoleDao">
    <select id="get" resultType="RoleDO">
        SELECT * FROM role WHERE id = #{value}
    </select>

    <select id="list" resultType="RoleDO">
        SELECT * FROM role
        <where>
                        <if test="id != null and id != ''">
                 and id = #{id}
            </if>
                        <if test="roleName != null and roleName != ''">
                 and role_name = #{roleName}
            </if>
                        <if test="remark != null and remark != ''">
                 and remark = #{remark}
            </if>
                        <if test="createTime != null and createTime != ''">
                 and create_time = #{createTime}
            </if>
                        <if test="modifiedTime != null and modifiedTime != ''">
                 and modified_time = #{modifiedTime}
            </if>
                    </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from role
        <where>
                            <if test="id != null and id != ''"> and id = #{id} </if>
                            <if test="roleName != null and roleName != ''"> and role_name = #{roleName} </if>
                            <if test="remark != null and remark != ''"> and remark = #{remark} </if>
                            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
                            <if test="modifiedTime != null and modifiedTime != ''"> and modified_time = #{modifiedTime} </if>
                    </where>
    </select>

    <insert id="save" parameterType="RoleDO"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role
        (
                                                  `role_name`,                                           `remark`,                                           `create_time`,                                           `modified_time`                          )
        VALUES (
                                        #{role_name},                                 #{remark},                                 #{create_time},                                 #{modified_time}                    )
    </insert>

    <update id="update" parameterType="RoleDO">
        update role
        <set>
                                                                            <if test="roleName != null">`role_name` = #{roleName}, </if>
                                                                <if test="remark != null">`remark` = #{remark}, </if>
                                                                <if test="createTime != null">`create_time` = #{createTime}, </if>
                                                                <if test="modifiedTime != null">`modified_time` = #{modifiedTime}</if>
                                    </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from role where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from role where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>